@charset "UTF-8";
body {
  font-family: "游明朝", "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
  line-height: 1.5625;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* base 下記黒字3行、必ず記載する */
html {
  font-size: 62.5%;
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  word-break: break-all;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  overflow-x: hidden;
}

html.is-fixed {
  overflow: hidden;
}

/* PC,SPの非表示 */
@media screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .sp {
    display: none !important;
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

.inner {
  max-width: 920px;
  margin-inline: auto;
}

.section-title {
  text-align: center;
}
.section-title h2 {
  display: inline-block;
  font-size: 3rem;
  color: #4d9600;
  letter-spacing: 29%;
  line-height: 1.1333333333;
}
.section-title p {
  font-size: 2rem;
  color: #000000;
  letter-spacing: 30%;
  line-height: 1.65;
  margin-top: 5px;
}

.section-bg {
  background-color: rgba(77, 150, 0, 0.1);
}

.fade-in {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.fade-in.is-show {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header {
  width: 100%;
  height: 80px;
  background-color: transparent;
  font-family: "游明朝", "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.header.is-scrolled {
  background-color: #4d9600;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding-inline: 20px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding-inline: 20px;
  }
}
.header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo a {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
@media screen and (max-width: 767px) {
  .header__logo a {
    height: 50px;
  }
}
@media (any-hover: hover) {
  .header__logo a:hover {
    opacity: 0.7;
  }
}
.header__title {
  font-size: 2rem;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .header__title {
    line-height: 1.65;
  }
}
.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 31px;
     -moz-column-gap: 31px;
          column-gap: 31px;
}
@media (max-width: 1000px) {
  .header__nav ul {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
.header__nav a {
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  line-height: 1;
  position: relative;
}
@media (max-width: 1000px) {
  .header__nav a {
    font-size: 1.4rem;
  }
}
.header__nav a::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (any-hover: hover) {
  .header__nav a:hover::after {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  width: 72px;
  height: 50px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.drawer-icon-bar {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 32px;
  height: 4px;
  border-radius: 6px;
  background: #4d9600;
}
.drawer-icon-bar:nth-of-type(1) {
  top: 13px;
}
.drawer-icon-bar:nth-of-type(2) {
  top: 25px;
}
.drawer-icon-bar:nth-of-type(3) {
  top: 37px;
}

.header-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hamburger.is-active span:nth-of-type(1) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger.is-active span:nth-of-type(2) {
  opacity: 0;
}

.hamburger.is-active span:nth-of-type(3) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.header-menu {
  position: fixed;
  width: 300px;
  height: 348px;
  top: 51px;
  right: 0;
  background-color: #4d9600;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.header-menu ul {
  margin: 0;
  padding: 12px 0 13px 20px;
  text-align: left;
  list-style: none;
  font-size: 1.8rem;
  line-height: 1.8333333333;
  font-weight: 600;
}
.header-menu li:not(:last-child) {
  padding-bottom: 25px;
}

.fv {
  position: relative;
}
.fv .splide,
.fv .splide__track,
.fv .splide__list {
  height: 100%;
}
.fv .splide__slide {
  width: 100%;
  height: 100%;
}
.fv .splide__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.fv__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
}
.fv__catch {
  position: absolute;
  top: 51%;
  left: 51%;
  -webkit-transform: translate(-51%, -49%);
          transform: translate(-51%, -49%);
}
@media screen and (max-width: 767px) {
  .fv__catch {
    top: 52%;
    left: 52%;
    -webkit-transform: translate(-52%, -52%);
            transform: translate(-52%, -52%);
  }
}
.fv__catch h2 {
  font-size: 3.7037037037vw;
  color: #ffffff;
  line-height: 1.75;
  letter-spacing: 1.1111111111vw;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  text-shadow: 5px 5px 5px #000000;
}
@media screen and (max-width: 767px) {
  .fv__catch h2 {
    font-size: 8vw;
    line-height: 2;
    white-space: nowrap;
    letter-spacing: 2.1333333333vw;
  }
}
.fv__catch h2 .sp-only {
  display: none;
}
@media screen and (max-width: 767px) {
  .fv__catch h2 .sp-only {
    display: inline;
  }
}
@media screen and (max-width: 767px) {
  .fv__catch h2 span {
    display: inline;
  }
}

.about {
  position: relative;
  overflow: hidden;
}
.about__image img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1080/500;
}
@media screen and (max-width: 767px) {
  .about__image img {
    width: 100%;
    aspect-ratio: 375/584;
  }
}
.about__contents {
  position: absolute;
  top: 51%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 40.462962963vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5.1851851852vw;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
@media screen and (max-width: 767px) {
  .about__contents {
    top: 50%;
    left: 50%;
    right: auto;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 6.4vw;
    width: 100%;
  }
}
.about__title {
  font-size: 2.7777777778vw;
  line-height: 119%;
  letter-spacing: 0.462962963vw;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .about__title {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    font-size: 6.6666666667vw;
    letter-spacing: 1.2962962963vw;
  }
}
.about__text {
  font-size: 1.6666666667vw;
  line-height: 2.5vw;
}
@media screen and (max-width: 767px) {
  .about__text {
    font-size: 4.2666666667vw;
    line-height: 1;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-align: start;
  }
}
.about__text span {
  letter-spacing: 0.6481481481vw;
  display: block;
  margin-left: 1.8518518519vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
@media screen and (max-width: 767px) {
  .about__text span {
    letter-spacing: 1.0666666667vw;
    display: block;
    margin-left: 2.6666666667vw;
    white-space: nowrap;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}
.about__text span:last-child {
  margin-left: 0;
}

.service {
  padding: 80px 30px;
}
@media screen and (max-width: 767px) {
  .service {
    padding: 50px 30px;
  }
}
.service__contents {
  margin-top: 68px;
}
@media screen and (max-width: 767px) {
  .service__contents {
    margin-top: 38px;
  }
}
.service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.service__item:not(:first-child) {
  margin-top: 83px;
}
@media screen and (max-width: 767px) {
  .service__item:not(:first-child) {
    margin-top: 48px;
  }
}
.service__item:nth-child(3) .service__textarea {
  padding: 52px 30px 40px 25.5%;
}
@media screen and (max-width: 767px) {
  .service__item:nth-child(3) .service__textarea {
    width: 100%;
    margin-top: 5px;
    margin-left: 0;
    padding: 21px 20px 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .service__item:nth-child(3) .service__textarea {
    padding: 30px 28px 30px 18%;
    margin-top: 100px;
    margin-left: -40%;
  }
}
.service__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media screen and (max-width: 767px) {
  .service__item:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.service__item:nth-child(even) .service__textarea {
  margin-left: 0;
  margin-right: -20%;
  padding: 50px 12% 40px 40px;
}
@media screen and (max-width: 767px) {
  .service__item:nth-child(even) .service__textarea {
    margin-right: 0;
    padding: 24px 20px 7px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .service__item:nth-child(even) .service__textarea {
    padding: 30px 12% 30px 44px;
  }
}
.service__item:nth-child(even) .service__image p {
  text-align: right;
}
@media screen and (max-width: 767px) {
  .service__item:nth-child(even) .service__image p {
    text-align: left;
  }
}
@media screen and (max-width: 767px) {
  .service__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.service__image {
  width: 65%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .service__image {
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .service__image {
    width: 100%;
  }
}
.service__image img {
  aspect-ratio: 600/300;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .service__image img {
    aspect-ratio: 315/220;
  }
}
.service__image p {
  margin-top: 19px;
}
@media screen and (max-width: 767px) {
  .service__image p {
    margin-top: 7px;
    font-size: 1.6rem;
  }
}
.service__textarea {
  width: 54%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #4d9600;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 52px 30px 40px 26.5%;
  margin-top: 143px;
  margin-left: -30%;
  position: relative;
  z-index: -1;
}
.service__textarea p {
  font-size: 1.6rem;
}
@media screen and (max-width: 767px) {
  .service__textarea {
    width: 100%;
    margin-top: 2px;
    margin-left: 0;
    line-height: 1.5625;
    padding: 20px 20px 11px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .service__textarea {
    padding: 30px 28px 30px 18%;
    margin-top: 100px;
    margin-left: -40%;
  }
}
.service__textarea h3 {
  font-size: 2.5rem;
  line-height: 1.32;
  font-weight: 600;
  margin-bottom: 17px;
}
@media screen and (max-width: 767px) {
  .service__textarea h3 {
    font-size: 2rem;
    margin-bottom: 15px;
  }
}
.service__textarea p {
  font-size: 1.6rem;
  line-height: 1.5625;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .service__textarea p {
    font-size: 1.6rem;
  }
}

body.is-fixed {
  overflow: hidden;
}

.works {
  padding: 80px 30px 96px;
}
@media screen and (max-width: 767px) {
  .works {
    padding: 50px 30px 43px;
  }
}
.works__contents {
  margin-top: 68px;
}
@media screen and (max-width: 767px) {
  .works__contents {
    margin-top: 38px;
  }
}
.works__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4.347826087%;
     -moz-column-gap: 4.347826087%;
          column-gap: 4.347826087%;
}
@media screen and (max-width: 767px) {
  .works__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
}
.works__item {
  cursor: pointer;
  width: 21.7391304348%;
}
.works__item .works-item__textarea p {
  margin-top: 19px;
}
@media screen and (max-width: 767px) {
  .works__item .works-item__textarea p {
    margin-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  .works__item {
    width: 100%;
  }
}
.works__item .works-item__image {
  aspect-ratio: 200/200;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  .works__item .works-item__image {
    aspect-ratio: 315/250;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.502);
  cursor: pointer;
}
.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  padding: 15px;
  width: 90%;
  max-width: 800px;
}
.modal__close {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #000000;
  font-size: 15px;
  cursor: pointer;
  z-index: 1;
}
.modal__text {
  margin-top: 9px;
}
.modal__text h3 {
  font-size: 1.6rem;
  line-height: 1.5625;
}

.news {
  padding: 80px 30px;
}
@media screen and (max-width: 767px) {
  .news {
    padding: 49px 30px;
  }
}
.news__contents {
  margin-top: 68px;
}
@media screen and (max-width: 767px) {
  .news__contents {
    margin-top: 36px;
  }
}
.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 69px;
     -moz-column-gap: 69px;
          column-gap: 69px;
  padding: 16px 0 9px;
  border-bottom: 1px solid #55a500;
}
@media screen and (max-width: 767px) {
  .news__item {
    -webkit-column-gap: 19px;
       -moz-column-gap: 19px;
            column-gap: 19px;
    padding: 17px 0 9px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .news__item {
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
  }
}
.news__more {
  font-size: 2rem;
  color: #4d9600;
  line-height: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
}
.news__more img {
  margin-top: -7px;
  width: 80px;
  height: auto;
}
@media (any-hover: hover) {
  .news__more:hover {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.news-blog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6.5217391304%;
     -moz-column-gap: 6.5217391304%;
          column-gap: 6.5217391304%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .news-blog__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 48px;
  }
}

.news-block__title,
.blog-block__title {
  padding: 9px 20px;
  background-color: #4d9600;
  color: #ffffff;
  font-size: 2rem;
  line-height: 1.65;
  font-weight: 600;
}

.news-item__date {
  font-size: 1.6rem;
  line-height: 1.9411764706;
  width: 53px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.news-item__text p {
  font-size: 1.8rem;
}
@media screen and (max-width: 767px) {
  .news-item__text p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}

.news__items,
.blog__items {
  width: 46.7391304348%;
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .news__items,
  .blog__items {
    width: 100%;
  }
}

.news__block,
.blog__block {
  padding: 10px 20px 23px 20px;
}
@media screen and (max-width: 767px) {
  .news__block,
  .blog__block {
    padding: 9px 20px 23px 20px;
  }
}

.more_click {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 20px;
  margin-bottom: 20px;
}

.company {
  padding: 80px 30px;
}
@media screen and (max-width: 767px) {
  .company {
    padding: 50px 30px;
  }
}
.company__contents {
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 767px) {
  .company__contents {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    margin-top: 38px;
  }
}

.access__map {
  width: 65%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  aspect-ratio: 600/400;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .access__map {
    width: 55%;
  }
}
.access__map iframe {
  width: 100%;
  height: 100%;
  display: block;
  border: none;
}
@media screen and (max-width: 767px) {
  .access__map {
    width: 100%;
    aspect-ratio: 315/300;
  }
}
.access__info {
  width: 54%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: -19%;
  background-color: #4d9600;
  color: #ffffff;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 48px 45px 45px 23.5%;
  margin-top: 200px;
  position: relative;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .access__info {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    padding: 18px 20px 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .access__info {
    width: 64%;
    margin-top: 150px;
  }
}
.access__name {
  font-size: 2rem;
  line-height: 1.65;
  font-weight: 600;
  padding-bottom: 9px;
}
.access__address {
  padding-bottom: 10px;
  font-weight: 600;
}
.access__tel-number {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 600;
}
.access__telephone {
  padding-bottom: 15px;
}

.contact {
  padding: 78px 140px 80px;
}
@media screen and (max-width: 767px) {
  .contact {
    padding: 50px 30px;
  }
}
.contact__contents {
  margin-top: 35px;
}
.contact__text {
  text-align: left;
  font-size: 2rem;
  line-height: 1.65;
}
.contact__form {
  margin-top: 70px;
}
@media screen and (max-width: 767px) {
  .contact__form {
    margin-top: 40px;
  }
}

.form-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .form-area {
    display: block;
    margin-bottom: 30px;
  }
}
.form-area dt {
  width: 170px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  line-height: 1.65;
}
@media screen and (max-width: 767px) {
  .form-area dt {
    display: inline;
  }
}
.form-area dd {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 82px;
}
@media screen and (max-width: 767px) {
  .form-area dd {
    gap: 40px;
  }
}

.form-area__email {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .form-area__email {
    display: block;
    margin-bottom: 30px;
  }
}
.form-area__email dt {
  width: 170px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  line-height: 1.65;
}
@media screen and (max-width: 767px) {
  .form-area__email dt {
    display: inline;
  }
}
.form-area__email dd {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 82px;
}
@media screen and (max-width: 767px) {
  .form-area__email dd {
    gap: 40px;
  }
}

@media screen and (max-width: 767px) {
  .form-gender {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-gender dt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90px;
    height: 33px;
  }
}

.form-message-area {
  display: block;
}

.form-select-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 19px;
}
@media screen and (max-width: 767px) {
  .form-select-item {
    gap: 10px;
  }
}
.form-select-item label {
  font-size: 1.8rem;
  line-height: 1.3888888889;
}

.form-check-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .form-check-item {
    width: auto;
  }
}
@media screen and (max-width: 767px) {
  .form-check-item {
    width: 151px;
  }
}
.form-check-item input[type=checkbox] {
  display: none;
}
.form-check-item label span {
  font-size: 1.8rem;
  line-height: 1.3888888889;
}

.form-control,
.form-select {
  width: 100%;
  height: 50px;
  background-color: #fff;
  padding: 13px 17px 12px 20px;
  resize: none;
  letter-spacing: 0;
  display: block;
}
.form-control::-webkit-input-placeholder, .form-select::-webkit-input-placeholder {
  color: #a0a0a0;
  font-size: 1.8rem;
  line-height: 1.3888888889;
}
.form-control::-moz-placeholder, .form-select::-moz-placeholder {
  color: #a0a0a0;
  font-size: 1.8rem;
  line-height: 1.3888888889;
}
.form-control:-ms-input-placeholder, .form-select:-ms-input-placeholder {
  color: #a0a0a0;
  font-size: 1.8rem;
  line-height: 1.3888888889;
}
.form-control::-ms-input-placeholder, .form-select::-ms-input-placeholder {
  color: #a0a0a0;
  font-size: 1.8rem;
  line-height: 1.3888888889;
}
.form-control::placeholder,
.form-select::placeholder {
  color: #a0a0a0;
  font-size: 1.8rem;
  line-height: 1.3888888889;
}
@media screen and (max-width: 767px) {
  .form-control::-webkit-input-placeholder, .form-select::-webkit-input-placeholder {
    font-size: 1.6rem;
    line-height: 1.5625;
  }
  .form-control::-moz-placeholder, .form-select::-moz-placeholder {
    font-size: 1.6rem;
    line-height: 1.5625;
  }
  .form-control:-ms-input-placeholder, .form-select:-ms-input-placeholder {
    font-size: 1.6rem;
    line-height: 1.5625;
  }
  .form-control::-ms-input-placeholder, .form-select::-ms-input-placeholder {
    font-size: 1.6rem;
    line-height: 1.5625;
  }
  .form-control::placeholder,
  .form-select::placeholder {
    font-size: 1.6rem;
    line-height: 1.5625;
  }
}

.form-textarea {
  width: 100%;
  height: 200px;
  background-color: #fff;
  padding: 13px 17px 12px 20px;
  margin-top: 4px;
  resize: none;
  letter-spacing: 0;
  display: block;
  font-size: 1.8rem;
  line-height: 1.3888888889;
}

input[type=radio] {
  -moz-appearance: auto;
       appearance: auto;
  -webkit-appearance: radio;
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: #000000;
}

select {
  font-size: 1.8rem;
  line-height: 1.3888888889;
  padding: 13px 56px 12px 20px;
  background: url(../img/select-arrow.svg) no-repeat center right 20px;
}
@media screen and (max-width: 767px) {
  select {
    font-size: 1.6rem;
    line-height: 1.5625;
  }
}

.form-checkbox-area {
  display: block;
  margin-top: 50px;
}
@media screen and (max-width: 767px) {
  .form-checkbox-area {
    margin-top: 30px;
  }
}
.form-checkbox-area span {
  font-size: 2rem;
  line-height: 1.65;
}
@media screen and (max-width: 767px) {
  .form-checkbox-area span {
    line-height: 1.35;
  }
}

.form-checkbox__text {
  padding-left: 40px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .form-checkbox__text {
    padding-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .form-checkbox-area .form-checkbox__text {
    font-size: 1.6rem;
  }
}
.form-checkbox-area .form-checkbox__text::before, .form-checkbox-area .form-checkbox__text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.form-checkbox-area .form-checkbox__text::before {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
}
.form-checkbox-area .form-checkbox__text::after {
  width: 24px;
  height: 24px;
  left: 2px;
  background: url(../img/check.svg) no-repeat center center/contain;
  opacity: 0;
}

.form-checkbox__input:checked ~ .form-checkbox__text::after {
  opacity: 1;
}

.form-checkbox-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px 0;
  margin-top: 11px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .form-checkbox-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .form-checkbox-grid {
    grid-template-columns: repeat(2, 1fr);
    margin-top: -2px;
    margin-bottom: 5px;
    row-gap: 5px;
  }
}

.form-privacy-area {
  display: block;
  margin-top: 50px;
}
@media screen and (max-width: 767px) {
  .form-privacy-area {
    margin-top: 30px;
  }
}

.privacy-policy {
  margin-top: 10px;
  display: inline;
  font-size: 2rem;
  line-height: 1.65;
}
.privacy-policy p {
  font-size: 1.8rem;
  line-height: 1.7222222222;
}
@media screen and (max-width: 767px) {
  .privacy-policy p {
    font-size: 1.6rem;
    line-height: 2.0625;
  }
}

.privacy-box {
  background-color: #fff;
  height: 300px;
  padding: 40px;
  overflow-y: scroll;
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .privacy-box {
    height: 323px;
    padding: 30px;
    margin-top: 0;
  }
}
.privacy-box p {
  font-size: 1.8rem;
  line-height: 1.7222222222;
}
@media screen and (max-width: 767px) {
  .privacy-box p {
    font-size: 1.6rem;
    line-height: 2.0625;
  }
}

.form-submit {
  width: 300px;
  height: 50px;
  background-color: #4d9600;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.65;
  cursor: pointer;
  border: 1px solid #4d9600;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .form-submit {
    width: 315px;
    height: 50px;
  }
}
@media (any-hover: hover) {
  .form-submit:hover {
    background-color: #fff;
    color: #4d9600;
  }
}

.contact__btn {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__submit-area {
  margin-top: 80px;
}
@media screen and (max-width: 767px) {
  .form__submit-area {
    margin-top: 50px;
  }
}

.footer {
  padding: 80px 30px 73px;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 50px 30px 40px;
  }
}
.footer__nav {
  width: 722px;
  margin-inline: auto;
  border-top: 1px solid #000000;
}
@media screen and (max-width: 767px) {
  .footer__nav {
    width: auto;
  }
}
.footer__content {
  margin-inline: auto;
}
.footer__name {
  font-size: 2rem;
  line-height: 1.65;
  text-align: center;
  margin-inline: auto;
  padding-bottom: 27px;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .footer__name {
    padding-bottom: 18px;
  }
}
@media (any-hover: hover) {
  .footer__name:hover {
    opacity: 0.7;
  }
}
.footer__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  margin-top: 28px;
}
.footer__copyright {
  font-size: 2rem;
  line-height: 1.65;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    text-align: center;
    line-height: 1.25;
  }
}

.footer-nav__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  padding-top: 28px;
}
@media screen and (max-width: 767px) {
  .footer-nav__lists {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    row-gap: 8px;
    padding-bottom: 0;
    padding-top: 19px;
  }
}

.footer-nav__link {
  font-size: 1.8rem;
  line-height: 1.8333333333;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
@media (any-hover: hover) {
  .footer-nav__link:hover {
    opacity: 0.7;
  }
}

.sns__link {
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
@media (any-hover: hover) {
  .sns__link:hover {
    opacity: 0.7;
  }
}

.footer__copyright-area {
  background-color: #4d9600;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.back-to-top {
  position: fixed;
  right: 60px;
  bottom: 60px;
  width: 68px;
  height: 68px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.4s, visibility 0.4s;
  transition: opacity 0.4s, visibility 0.4s;
  z-index: 100;
}
.back-to-top.is-hidden {
  opacity: 0;
  visibility: hidden;
}
.back-to-top.is-show {
  opacity: 1;
  visibility: visible;
}/*# sourceMappingURL=style.css.map */