@charset "UTF-8";
body {
  font-family: "游明朝", "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
  line-height: 1.5625;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
}

/* base 下記黒字3行、必ず記載する */
html {
  font-size: 62.5%;
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  word-break: break-all;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

/* PC,SPの非表示 */
@media screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .sp {
    display: none !important;
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

.inner {
  max-width: 920px;
  margin-inline: auto;
  padding-inline: 20px;
}

.section-title {
  text-align: center;
  margin-bottom: 68px;
}
.section-title h2 {
  display: inline-block;
  font-size: 3rem;
  color: #4D9600;
  letter-spacing: 30%;
  line-height: 1.1;
}
.section-title p {
  font-size: 2rem;
  color: #000000;
  letter-spacing: 30%;
  line-height: 1.65;
  margin-top: 8px;
}

.section-bg {
  background-color: rgba(77, 150, 0, 0.1);
}

.header {
  width: 100%;
  height: 80px;
  background-color: transparent;
  padding-inline: 30px;
  font-family: "游明朝", "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
@media screen and (max-width: 767px) {
  .header {
    padding-inline: 20px;
  }
}
.header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo a {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
@media (any-hover: hover) {
  .header__logo a:hover {
    opacity: 0.7;
  }
}
.header__title {
  font-size: 2rem;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .header__title {
    line-height: 1.65;
  }
}
.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media (max-width: 1000px) {
  .header__nav ul {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
.header__nav a {
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  line-height: 1;
  position: relative;
}
@media (max-width: 1000px) {
  .header__nav a {
    font-size: 1.5rem;
  }
}
.header__nav a::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (any-hover: hover) {
  .header__nav a:hover::after {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.fv {
  position: relative;
  height: 800px;
  min-height: 500px;
  max-height: 800px;
}
@media screen and (max-width: 767px) {
  .fv {
    height: 560px;
  }
}
.fv .splide,
.fv .splide__track,
.fv .splide__list {
  height: 100%;
}
.fv .splide__slide {
  width: 100%;
  height: 100%;
}
.fv .splide__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.fv__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
}
.fv__catch {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.fv__catch h2 {
  font-size: 3.7037037037vw;
  color: #ffffff;
  line-height: 1.75;
  letter-spacing: 1.1111111111vw;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .fv__catch h2 {
    font-size: 8vw;
    line-height: 2;
    white-space: nowrap;
    letter-spacing: 1.6vw;
  }
}
.fv__catch h2 .sp-only {
  display: none;
}
@media screen and (max-width: 767px) {
  .fv__catch h2 .sp-only {
    display: inline;
  }
}
@media screen and (max-width: 767px) {
  .fv__catch h2 span {
    display: inline;
  }
}

.about {
  position: relative;
  overflow: hidden;
}
.about__image img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1080/500;
}
@media screen and (max-width: 767px) {
  .about__image img {
    width: 100%;
    aspect-ratio: 375/584;
  }
}
.about__contents {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 40.5555555556vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5.5555555556vw;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
@media screen and (max-width: 767px) {
  .about__contents {
    left: 50%;
    right: auto;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 6.4vw;
    width: 100%;
  }
}
.about__title {
  font-size: 2.7777777778vw;
  line-height: 118%;
  letter-spacing: 0.462962963vw;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .about__title {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    font-size: 6.6666666667vw;
    letter-spacing: 0.9259259259vw;
  }
}
.about__text {
  font-size: 1.6666666667vw;
  line-height: 2.7777777778vw;
}
@media screen and (max-width: 767px) {
  .about__text {
    font-size: 4.2666666667vw;
    line-height: 1;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-align: start;
  }
}
.about__text span {
  letter-spacing: 0.6481481481vw;
  display: block;
  margin-left: 1.8518518519vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
@media screen and (max-width: 767px) {
  .about__text span {
    letter-spacing: 0.9333333333vw;
    display: block;
    margin-left: 2.6666666667vw;
    white-space: nowrap;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}
.about__text span:last-child {
  margin-left: 0;
}

.service {
  padding: 80px 0;
}
@media screen and (max-width: 767px) {
  .service {
    padding: 50px 0;
  }
}
.service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.service__item:not(:first-child) {
  margin-top: 100px;
}
@media screen and (max-width: 767px) {
  .service__item:not(:first-child) {
    margin-top: 60px;
  }
}
.service__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media screen and (max-width: 767px) {
  .service__item:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.service__item:nth-child(even) .service__textarea {
  margin-left: 0;
  margin-right: -10%;
  padding: 40px 12% 40px 40px;
}
@media screen and (max-width: 767px) {
  .service__item:nth-child(even) .service__textarea {
    margin-right: 0;
    padding: 30px 20px;
  }
}
.service__item:nth-child(even) .service__image p {
  text-align: right;
}
@media screen and (max-width: 767px) {
  .service__item:nth-child(even) .service__image p {
    text-align: left;
  }
}
@media screen and (max-width: 767px) {
  .service__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.service__image {
  width: 55%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .service__image {
    width: 100%;
  }
}
.service__image img {
  aspect-ratio: 600/300;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .service__image img {
    aspect-ratio: 315/220;
  }
}
.service__image p {
  margin-top: 19px;
}
@media screen and (max-width: 767px) {
  .service__image p {
    margin-top: 10px;
    font-size: 1.4rem;
  }
}
.service__textarea {
  width: 55%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #4D9600;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 40px 40px 15%;
  margin-top: 110px;
  margin-left: -15%;
  position: relative;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .service__textarea {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    padding: 30px 20px;
  }
}
.service__textarea h3 {
  font-size: 2.5rem;
  line-height: 1.32;
  font-weight: 600;
  margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .service__textarea h3 {
    font-size: 2rem;
  }
}
.service__textarea p {
  font-size: 1.6rem;
  line-height: 1.5625;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .service__textarea p {
    font-size: 1.4rem;
  }
}

body.is-fixed {
  overflow: hidden;
}

.works {
  padding: 80px 0;
}
@media screen and (max-width: 767px) {
  .works {
    padding: 50px 0;
  }
}
.works__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4.347826087%;
     -moz-column-gap: 4.347826087%;
          column-gap: 4.347826087%;
}
@media screen and (max-width: 767px) {
  .works__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 22px;
  }
}
.works__item {
  cursor: pointer;
  width: 21.7391304348%;
}
.works__item .works-item__textarea h3 {
  margin-top: 19px;
}
.works__item .works-item__textarea p {
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .works__item {
    width: 100%;
  }
}
.works__item .works-item__image {
  aspect-ratio: 200/200;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  .works__item .works-item__image {
    aspect-ratio: 315/250;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.502);
  cursor: pointer;
}
.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  width: 90%;
  max-width: 800px;
}
.modal__close {
  position: absolute;
  top: -40px;
  right: 0;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
.modal__text {
  margin-top: 9px;
}
.modal__text h3 {
  font-size: 1.6rem;
  line-height: 1.5625;
}/*# sourceMappingURL=style.css.map */